<!-- this is from the head-custom file that contains elements that can be inserted into head blocks in some or all site pages -->
<!-- MathJax support -->
<script type="text/javascript" id="MathJax-script" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js">
</script>
<!-- end of MathJax support -->

<!-- page-specific content -->
{% if page.myvariable_name %}
    <!-- content placed here will appear if frontmatter includes "myvariable_name: true" -->
    <!-- can be used for css, script etc needed in page head tag -->
{% endif %}

<!-- end of head-custom.html -->
