<!-- this is from the head-custom file that contains elements that can be inserted into head blocks in some or all site pages -->

<!-- MathJax support -->
 <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<!-- end of MathJax support -->

{% if page.calculator_style %}
<style>
img {
    width: 100%;
}
input {
    height: 15px;
    width: 35px;
    float: left;
    margin-bottom: 5px;
      margin-left: 0px;
  margin-right: 5px;
}
span.first {
  width: 200px;
  margin-left: 0px;
  margin-right: 5px;
  float: left;
  text-align: left;
}
span {
  width: 200px;
  margin-left: 0px;
  margin-right: 5px;
  float: left;
  text-align: center;
}
div {
  clear: both;
  min-width: 700px;
}
label {
  width: 35px;
  margin-left: 0px;
  margin-right: 5px;
  float: left;
  text-align: right;
}
.readonly { background-color: #d1d1d1; }
</style>
{% endif %}


<!-- end of head-custom.html -->
