---
---

@import "{{ site.theme }}";
.page__title{
    font-size: 42px;
    font-weight: bold;
    padding-bottom:0px;
    margin-bottom:0px;
}
.page__subtitle{
    font-size: 24px;
    padding-top:0px;
    margin-top:0px;
    color:gray;
}
