---
---

@import "{{ site.theme }}";

.page__title{
    font-size: 2em;
    font-weight: bold;
    padding-bottom: $type-size-5;
}

.page__subtitle{
    border-bottom: 1px solid $light-gray;
    font-size: $type-size-5;
    color: $gray;
    padding-bottom: $type-size-5;
}
